template(name='history')
    //.container
    //-.hero-unit
      h4 #{id}
    //.page-header
    .page-body
      #container
      #container-remote
      //#container-remote(style='min-width: 310px; height: 400px;')
