template(name='defaultCard')
  .panel.panel-default
    .panel-heading.clearfix
      h3.panel-title.pull-left Quotes
    .list-group
      .list-groups-item
        +layout
    .panel-footer
      small Built with Bootcards - Base Card
