template(name='cardBody')
    +history
    //+layout

template(name = "history")
  .panel-body
    //.container
    .hero-unit
      h4 #{id}
    .page-header
    .page-body
      #container-remote
      //#container-remote(style='min-width: 310px; height: 400px;')
