template(name='defaultCard')
  .panel.panel-default
    .panel-heading.clearfix
      h3.panel-title.pull-left Quotes
    .list-group
      .list-groups-item
        +layout
    .panel-footer
      small Built with Bootcards - Base Card

template(name = "layout")
  .container
    .hero-unit
      h1 Quote
    select.stocks
      option 1000001
      option 0600000
      option 1159915


    .page-header
      h1
        small #{quot}
